{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
    {% load staticfiles %}
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link " href="/">Brain Trust</a>
            <a class="nav-link" href="/sdgs/">SDG's</a>
            <a class="nav-link" href="/blog/">Blog</a>
            <a class="nav-link active" href="/init/">Yakhisizwe</a>

          </nav>
        </div>
<p>For our programme to work we require voluteers in the following positions:</p>
<ul>
  <li>School/Student registration officer(s).</li>
  <li>Material requisitor(s).</li>
  <li>Curriculum facilitator(s).</li>
  <li>Material provider(s).</li>
</ul>

<br></br>
{% endblock %}
