{% extends "Home/header.html" %}
{% block content %}
<div align = left>
<p>问候（我的）兄弟姐妹</p>

<p>
“因为其他人，一个人就是一个人”。<br>
这是一个概述Ubuntu重要方面的谚语。<br>
它提醒我们人性的源泉。<br>
Ubuntu哲学提醒我们，生命是无价的<br>
并且社区比个人更重要，<br>
因此，个人必须为了社区的利益而牺牲。<br>
Ubuntu提醒我们要把自己看作别人并善待他人<br>
尊重，这是我们人类的源泉。
</p>

<p>
今天，我们用许多名字称呼自己。我们中的一些人认为是非洲人，<br>
一些美国人，一些亚洲人，另一些欧洲人，一些白人，一些黄人，<br>
有些红色，有些是棕色，有些是中国人，有些是津巴布韦人，有些是南非人。
</p>

<p>
Patrick Otiene Lumumba教授提醒我们（不是那么多的话）<br>
欧洲人于1884年在柏林相遇并制定了当前的政治版图<br>
非洲人，他强调这些边界的人为性。<br>
他是对的，这些边界确实是人为的。我想强调同样的事实<br>
你和我有黑与白，Afrikan和美国人（南非人或中国人）的边界。<br>
这些边界确实是人为的。<br>
我想提醒我们，我们都有共同的祖先，共同的遗产。<br>
有些人可能不同意我的观点，但我们都来自一个人类摇篮非洲的地方。<br>
我们中的一些人可能否认它，但我们是家人。<br>
在说这个回声曼德拉的彩虹之梦的梦想。<br>
在说这个时，我强调了伟大的Lucky Dube的话，当他说“不同的颜色，一个人”。
</p>

<p>
（我的）兄弟姐妹。天空是我们的屋顶，地面是地板，地面是我们的家。<br>
Afrikan谚语说“挣来灾难，和家人一起吃饭”。<br>
面对气候变化，这句谚语非常适合，像飓风艾海这样的灾难 <br>
频率和严重程度增加。沙漠蔓延和减少耕地。<br>
很明显，这只大恶狼正在我们家门口。<br>
非洲谚语说“分裂是弱点，团结就是力量”。<br>
作为世界的年轻人，我们是未来的政府和政策领导者，<br>
未来的工业和媒体领导者，未来的军事将领和技术专家。<br>
我们必须团结起来，对抗气候变化的零容忍政策，或者被大恶狼吞噬。
</p>

<p>
非洲谚语告诉我们“快点走，一起去远行。”
</p>

<p>
（我的）兄弟姐妹。让我们一起走到：<br>
饥饿的结束，<br>
贫穷的结束，<br>
为所有人提供良好的健康和福祉，<br>
全民素质教育，<br>
性别平等, <br>
为所有人提供洁净水和卫生设施，<br>
所有人都负担得起的清洁能源，<br>
体面劳动和包容性经济增长，<br>
工业，创新和基础设施，<br>
减少不平等,<br>
可持续城市和社区，<br>
负责任的消费和生产，<br>
气候行动，<br>
生活在水面上，<br>
陆地上的生活，<br>
和平正义和强大的机构，<br>
全球伙伴关系和合作。
</p>
</div>
<div align = left>
<p>
Greetings (my) brothers and sisters
</p>

<p>
"A person is a person because of other people".<br>
This is a proverb outlining a vital aspect of Ubuntu.<br>
It reminds us of the source of our humanity.<br>
Ubuntu philosophy reminds us that life is priceless <br>
and that the community is more important than the individual,<br>
thus the individual must sacrifice for the good of the community.<br>
Ubuntu reminds us to see ourselves in others and to treat others <br>
with respect, this is the source our humanity.</p>

<p>
Today, we call ourselfs by many names. Some of us identify as Afrikans,<br>
some Americans, some Asians, others Europeans, some white, some yellow, <br>
some red, others brown, others Coloreds some Chinese, Some Zimbabweans, others South Afrikans. 
</p>

<p>
Prof Patrick Otiene Lumumba reminds us (not in so many words) that the<br>
europeans met up in berlin in 1884 and drew up the current political map of<br>
Afrika, he stressed the artificiality of these borders. <br>
He is right, these borders are indeed artificial. I want to stress the same fact <br> 
with the border between black and white, Afrikan and American, (South Afrikan or Chinese,) you and me.<br>
These borders are indeed artificial.<br>
I want to remind us that we all have common ancestory, a shared heritge.<br>
Some may disagree with me but we all come from one place which is Afrika, the cradle of humankind.<br>
Some of us may deny it but we are family. <br>
In saying this echoe Mandela's Dream of a rainbow nation.<br>
In saying this I reinforce the words of the great Lucky Dube when he said "Different colors, one people."</p>

<p>
(My) brothers and sisters. The sky is our roof, the ground our floor and tha earth our home.<br>
Afrikan proverb says "He who earns calamity, eats it with his family". <br>
In the face of climate change this proverb is very suitabe, with disaster like cyclone idhai<br>
increasing in frequency and severity. Deserts spreading and decreasing arable land.<br>
It is obvious the big bad wolf is at our door.<br>
Afrikan proverb says "Division is weakness, Unity is strength".  <br>
As the young people of the world we are the future governers and policy leader, <br>
the future leaders of industry and media, the future military generals and technologists.<br>
We must unite with a zero tolerance policy against climate change or be devoured by the big bad wolf.</p>

<p>
Afrikan proverb tells us "To go fast go alone, to go far go together."<br>
(My) brothers and sisters. Let us walk together to:<br>
the end of hunger,<br>
the end of poverty,<br>
good health and wellbeing for all,<br>
quality education for all,<br>
gender equality,<br>
clean water and sanitation for all,<br>
affordable and clean energy for all,<br>
decent work and inclusive economic growth,<br>
industry, innovation and infrastructure,<br>
reduced inequality,<br>
sustainable cities and communities,<br>
responsible consumption and production,<br>
climate action,<br>
life on water,<br>
life on land,<br>
peace justice and strong institutions,<br>
global partnerships and co-operation.
</p>
</div>
{% endblock %}
