{% extends "Home/header.html" %}
{% block content %}
<p>
 问 候（我 的）兄 弟 姐 妹。
Wènhòu       xiōngdì jiěmèi.
</p>

<p>
“ 因 为 其 他 人，一 个 人 就 是 一 个 人”。<br>
“yīn wéi qítārén, yīgèrén jiùshì yīgèrén”.<br>
 这 是 一 个 谚 语 Ubuntu 重 要 方 面 的 谚 语 。<br>
Zhè shì yīgè yànyǔ Ubuntu zhòngyào fāngmiàn de yànyǔ.<br>
 它 提 醒 我 们 人 类 的 源 泉。<br>
Tā tíxǐng wǒmen rénlèi de yuánquán.<br>
Ubuntu 哲 学 提 醒 我 们，生 命 是 无 价 的<br>
      zhéxué tíxǐng.., shēngmìng shì wú jià de<br>
 并 且 社 区 比 个 人 更 重 要，<br>
bìngqiě shèqū bǐ gè rén gèng zhòngyào,<br>
 因 此，个 人 必 须 为 了 社 区 的 利 益 而 牺 牲。<br>
yīncǐ, gè rén bìxū wèile shèqū de lìyì ér xīshēng.<br>
Ubuntu 提 醒 我 们 要 把 自 己 看 作 别 人 并 善 待 他 人<br>
     tíxǐng ..         zìjǐ..   zuòbiérén bìng shàndài tā rén<br>
 尊 重，这 是 我 们 人 类 的 源 泉。<br>
zūnzhòng, ..      rénlèi de yuánquán.
</p>

<p>
 今 天，我 们 用 许 多 名 字 称 呼 自 己。我 们 中 的 一 些 人 认 为 是 非洲人，<br>
            .. xǔduō míngzì chēnghu zìjǐ.       .. yīxiē rén rènwéi ..,<br>
 一 些 美 洲 人，一 些 亚 洲 人 ，另 一 些 欧 洲 人 ，一 些 白 人，一 些 黄 人，<br>
yīxiē měizhōu rén,.. yàzhōu rén, lìng yīxiē ōuzhōu rén, yīxiē báirén, yīxiē huáng rén,<br>
 有 些 红 色，有 些 是 棕 色，有 些 是 中 国 人，有 些 是 津 巴 布 韦 人，有 些 是 南 非 人。<br>
   .. hóngsè, .. shì zōngsè, ..             , ... shì jīnbābùwéi rén, yǒuxiē shì nánfēi rén.<br>
Patrick Otiene Lumumba 教 授 提 醒 我 们（不是那么多的话）<br>
		     jiàoshòu tíxǐng .. (.. nàme duō dehuà)<br>
 欧 洲 人 于 1884 年 在 柏 林 相 遇 并 制 定 了 当 前 的 政 治 版 图<br>
ōuzhōu rén yú 1884 nián zài bólín xiāngyù bìng zhì dìng liǎo dàng qián de zhèngzhì bǎntú<br>
 非 洲 人，他 强 调 这 些 边 界 的 人 为 性。<br>
    .. , ..qiángdiào .. biānjiè de rénwéi xìng.<br>
 他 是 对 的，这 些 边 界 确 实 是 人 为 的。我 想 强 调 同 样 的 事 实<br>
Tā shì duì de, zhèxiē biānjiè quèshí shì rénwéi de. Wǒ xiǎng qiángdiào tóngyàng de shìshí<br>
 你 和 我 有, 黑 与 白 ，非 洲 人 和 美 洲 人（ 南 非 人 或 中 国 人 ）的 边 界。<br>
           ,hēi yǔ bái,    .. hé měizhōu rén (      ..Huò..      ) .. biānjiè.<br>
 这 些 边 界 确 实 是 人 为 的。<br>
Zhèxiē biānjiè quèshí shì rénwéi de.<br>
 我 想 提 醒 我 们，我 们 都 有 共 同 的 祖 先，共 同 的 遗 产。<br>
Wǒ xiǎng tíxǐng wǒmen, wǒmen dōu yǒu gòngtóng de zǔxiān, gòngtóng de yíchǎn.<br>
 有 些 人 可 能 不 同 意 我 的 观 点，但 我 们 都 来 自 一 个 人 类 摇 篮 非 洲 的 地 方。<br>
Yǒuxiē rén kěnéng bùtóngyì wǒ de guāndiǎn, dàn wǒmen dōu láizì yīgè rénlèi yáolán Afrika dì dìfāng.<br>
 我 们 中 的 一 些 人 可 能 否 认 它，但 我 们 是 家 人。<br>
Wǒmen zhōng de yīxiē rén kěnéng fǒurèn tā, dàn wǒmen shì jiārén.<br>
 在 说 这 个 回 声 曼 德 拉 的 彩 虹 之 梦 的 梦 想。<br>
Zài shuō zhège huíshēng màn dé lā de cǎihóng zhī mèng de mèngxiǎng.<br>
 在 说 这  个 时，我 强 调 了 伟 大 的 Lucky Dube 的 话，当 他 说 “ 不 同 的 颜 色 ，一 个 人 ”。<br>
Zài shuō zhège shí, wǒ qiángdiàole wěidà de Lucky Dube dehuà, dāng tā shuō “bù tóng de yánsè, yīgè rén”.<br>
</p>

<p>
（我 的）兄 弟 姐 妹。天 空 是 我 们 的 屋 顶 ，地 面 是 地 板，地 面 是 我 们 的 家。<br>
 .. xiōngdì jiěmèi. Tiānkōng shì wǒmen de wūdǐng, dìmiàn shì dìbǎn, dìmiàn shì wǒmen de jiā<br>
 非 洲 谚 语 说 “ 挣 来 灾 难，和 家 人 一 起 吃 饭 ”。<br>
      yànyǔ.. “zhēng lái zāinàn, hé jiārén yīqǐ chīfàn”.<br>
 面 对 气 候 变 化，这 句 谚 语 非 常 适 合，像 飓 风 艾 海 这 样 的 灾 难<br>
Miàn duì qìhòu biànhuà, zhè jù yànyǔ fēicháng shìhé, xiàng jùfēng ài hǎi zhèyàng de zāinàn<br>
 频 率 和 严 重 程 度 增 加。沙 漠 蔓 延 和 减 少 耕 地。<br>
pínlǜ hé yánzhòng chéngdù zēngjiā. Shāmò mànyán hé jiǎnshǎo gēngdì.<br>
 很 明 显，这 只 大 恶 狼 正 在 我 们 家 门 口。<br>
Hěn míngxiǎn, zhè zhǐ dà è láng zhèngzài wǒmen jiā ménkǒu.<br>
 非 洲 谚 语 说 “ 分 裂 是 弱 点，团 结 就 是 力 量 ”。<br>
Afrikan yànyǔ shuō “fēnliè shì ruòdiǎn, tuánjié jiùshì lìliàng”.<br>
 作 为 世 界 的 年 轻 人，我 们 是 未 来 的 政 府 和 政 策 领 导 者，<br>
Zuòwéi shìjiè de niánqīng rén, wǒmen shì wèilái de zhèngfǔ hé zhèngcè lǐngdǎo zhě,<br>
 未 来 的 工 业 和 媒 体 领 导 者      ，未 来 的 军 事 将 领 和 技 术 专 家。<br>
wèilái de gōngyè hé méitǐ lǐngdǎo zhě, wèilái de jūnshì jiànglǐng hé jìshù zhuānjiā.<br>
 我 们 必 须 团 结 起 来 ，对 抗 气 候 变 化 的 零 容 忍 政 策            ，或 者 被 大 恶 狼 吞 噬。<br>
Wǒmen bìxū tuánjié qǐlái, duìkàng qìhòu biànhuà de líng róngrěn zhèngcè, huòzhě bèi dà è láng tūnshì.<br>

<p>
 非 洲 谚 语 告 诉 我 们 “ 快 点 走，一 起 去 远 行。”<br>
      yànyǔ gàosù wǒmen “kuài diǎn zǒu, yīqǐ qù yuǎn xíng.”
</p>

<p>
（我 的）兄 弟 姐 妹。让 我 们 一 起 走 到：<br>
(Wǒ de) xiōngdì jiěmèi. Ràng wǒmen yīqǐ zǒu dào:<br>
 饥 饿 的 结 束，<br>
Jī'è de jiéshù,<br>
 贫 穷 的 结 束，<br>
pínqióng de jiéshù,<br>
 为 所 有 人 提 供 良 好 的 健 康 和 福 祉，<br>
wéi suǒyǒu rén tígōng liánghǎo de jiànkāng hé fúzhǐ,<br>
 全 民 素 质 教 育，<br>
quánmín sùzhì jiàoyù,<br>
 性 别 平 等<br>
xìngbié píngděng,<br>
 为 所 有 人 提 供 洁 净 水 和 卫 生 设 施，<br>
wéi suǒyǒu rén tígōng jiéjìng shuǐ hé wèishēng shèshī,<br>
 所 有 人 都 负 担 得 起 的 清 洁 能 源，<br>
suǒyǒu rén dōu fùdān dé qǐ de qīngjié néngyuán,<br>
 体 面 劳 动 和 包 容 性 经 济 增 长，<br>
tǐmiàn láodòng hé bāoróng xìng jīngjì zēngzhǎng,<br>
 工 业，创 新 和 基 础 设 施，<br>
gōngyè, chuàngxīn hé jīchǔ shèshī,<br>
 减 少 不 平 等,<br>
jiǎn shào bù píngděng<br>
 可 持 续 城 市 和 社 区，<br>
kě chíxù chéngshì hé shèqū,<br>
 负 责 任 的 消 费 和 生 产，<br>
fù zérèn de xiāofèi hé shēngchǎn,<br>
 气 候 行 动，<br>
qìhòu xíngdòng,<br>
 生 活 在 水 面 上，<br>
shēnghuó zài shuǐmiàn shàng,<br>
 陆 地 上 的 生 活，<br>
lùdì shàng de shēnghuó,<br>
 和 平 正 义 和 强 大 的 机 构，<br>
hépíng zheng yì hé qiángdà de jīgòu,<br>
 全 球 伙 伴 关 系 和 合 作。<br>
quánqiú huǒbàn guānxì hé hézuò.
</p>
{% endblock %}
