{% extends "Home/header.html" %}
{% block content %}

      <header class="masthead mb-auto">
    {% load staticfiles %}
        <div class="inner">
          <!--<h3 class="masthead-brand">Cover</h3> -->
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link " href="/">Brain Trust</a>
            <a class="nav-link active" href="/constitution/">Constitution</a>
            <a class="nav-link" href="/blog/">Blog</a>
          </nav>
        </div>
      </header>

<div align = "left">
</p>

INSPIRED by the noble ideals which guided the founding fathers of our Continental Organization and generations of Pan-Africanists in their determination to promote unity, solidarity, cohesion and cooperation among the peoples of Afrika and Afrikan States;
<p>
</p>
CONSIDERING the principles and objectives stated in the Charter of the Organization of African Unity, the Treaty establishing the African Economic Community and the 2063 Agenda outlining The Afrika We Want;
<p>
</p>
RECALLING the heroic struggles waged by our peoples and our countries for political independence, human dignity and economic emancipation;
<p>
</p>
DETERMINED to take up the multifaceted challenges that confront our continent and peoples in the light of the social, economic and political changes taking place in the world;
<p>
</p>
CONVINCED of the need to accelerate the process of implementing the Treaty establishing the Afrikan Economic Community in order to promote the socio-economic development of Afrika and to face more effectively the challenges posed by globalization;
<p>
</p>
GUIDED by our common vision of a united and strong Afrika to build a partnership between governments and all society, in particular women, youth and the private sector to strengthen solidarity and cohesion among our people;
<p>
</p>
CONSCIOUS of the fact that the scourge of conflicts in Afrika constitutes a major impediment to the socio-economic development of the continent and of the need to promote peace, security and stability as a prerequisite for the implementation of our development and integration agenda;
<p>
</p>
DETERMINED to promote and protect human and peoples’ rights, consolidate democratic institutions and culture, and to ensure good governance and the rule of law;
<p>
</p>
FURTHER DETERMINED to take all necessary measures to strengthen our common institutions and provide them with the necessary powers and resources to enable them discharge their respective mandates effectively;
<p>
</p>
INSPIRED by the Declaration which was adopted at the Fourth Extraordinary Session of our OAU in Sirte, the Great Socialist People’s Libyan Arab Jamahiriya, on 9.9. 1999, in which it was decided to establish an Afrikan Union, in conformity with the ultimate objectives of the Charter of our Continental Organization, the Treaty establishing the Afrikan Economic Community and the 2063 Agenda outlining The Afrika We Want ;
<p>

<center>
<h1>
Article 1
</h1>
<h2>
Definitions
<h2>
</center>

<p>
In this Constitutive Act:
</p>
<p>
“Abuja Treaty” means  the Treaty establishing the Afrikan Economic Community;
</p>
<p>
“The Organisation” means the organisation called New Age Liberty;
</p>
<p>
”The Central Axiom” means The Central Axiom of Freedom;
</p>
<p>
“Act” means the present Constitutive Act;
</p>
<p>
“AEC” means the African Economic Community;
</p>
<p>
“Charter” means the Charter of human rights of the OAU;
</p>
<p>
“AFTZ” means Afrikan Free Trade Zone;
</p>
<p>
“SMMEs” means Small and Medium Enterprises
</p>
<p>
“The 6 Aspirations of Afrika” means the 6 aspriations present in Afrika’s Agenda 2063;
</p>
<p>
“SDG’s” also known as the Global Goals means the Sustainable Development Goals outlined in the UN’s Agenda 2030 for sustainable development;
</p>
<center>
<img src="{% static 'Home/image/goalsgrid.jpg'%}">
</center>
<center>
<h1>
Article 2
</h1>
<h2>
Initial consideratons
</h2>
</center>
<p>
New Age Liberty is a communal organisation operating on the principles of Ubuntu (outlined in the book On Ubuntu) in order to harmonise with the people of Afrika and the Afrikan Union in building The Afrika We Want;
</p>
<p>
In accordance with Ubuntu we declare that all of the assets of the organisation as the common heritage of all Afrikans and not of any one person or member of the organisation. The Organisation is responsible for managing these assets and making sure they are fairly distributed;
</p>
<p>
The economic policy and operations of The Organisation shall be based on The Central Axiom of Freedom.
</p>

<center>

<h3>
The Central Axiom of Freedom
</h3>
<p>
basic needs: water, food, wages, housing, transportation, education, internet(telecommunications), renewable electricity.
</p>
<p>
In order to achieve the 6 aspirations of Afrika, to create The Afrika We Want we must create a society
which is happy because it is free. This can only be achieved by
satisfying man’s material and spiritual needs, and that, in turn,
comes about through the liberation of these needs from the control of others
</p>
<div align = "right">
-adapted from Qaddafi’s The Green Book;
</div>
</center>
<br></br>
<p>
In accordance with the principles of Ubuntu aspiration #1 of Agenda 2063 we call for the abolishment of wages (in the private-profit sector) in order to replace them with the Natural Rule of Equality.
</p>
<center>
<h3>
Natural Rule of Equality
</h3>
<p>
“If we analyse the factors of economic production from ancient
times to the present, we always find that they essentially con-
sist of certain basic production components, i.e., raw materials,
means of production, and a producer. The natural rule of equal-
ity requires that each of these components receives a share of
this production. Because production cannot be achieved with-
out the essential role of each of these components, it has to
be equally divided amongst them. The preponderance of one
of them contravenes the natural rule of equality and becomes
an encroachment upon the others’ rights. Thus, each must be
awarded an equal share, regardless of the number of compo-
nents in the process of production. If the components are two,
each receives half of the production; if three, then one-third.”
</p>
<div align = "right">
					-Muammar al-Qaddafi;
</div>
</center>
<br></br>
<p>
In accordance with the principles of Ubuntu we call for the abolishment of renting of housing in the SACU region for SACU citizen, restricting citizens to one residential property each (in order to allieviate homelessness, in accordance with article 14 of the charter). Exceptions will be made for the tourism industry and renting on one’s single residential property;
</p>
<p>
In accordance with the principles of Ubuntu, The Central Axiom, ecological sustsainability and efficiency we call for the restriction of ownership of certain goods and setting up of a system for strategic access to that good (Eg. Restricting the buying of a car (or cars) and setting up a national ride-sharing platform, keeping the ratio of vehicles to people at a rate that will allow an average waiting time of 10-15 minutes);
</p>
<p>
In accordance with the principles of Ubuntu, ecological sustsainability and to mentain food-security we call for the abolishment of all agricultural biocides (pesticides, herbicides, algaecides and fungicides) and inorganic fertilisers;
</p>
<p>
In accordance with article 18(3) and 19 of the charter we call for the filling of posts to be representative of the demographics (Eg. The percentages of 
women and men filling the posts must correspond to the percentages of 
women and men in the country, thus in Afrika the percentages would be
Women-52%:48%-Men);
</p>
<p>
In accordance with article 24 of the charter and The Central Axiom we call for the establishment of a universal basic income, such that all may have access to their basic needs and be free from the indignity of poverty;
</p>
<p>
In accordance with article 28 of the charter we call for the abolishment of all animal agriculture, reduction of domestic animals to natural population (through sterilisation and natural death) and the elevation of all animals to humans with rights;
</p>
<p>
In the interest of achieving high efficiency, convenience, good governance and achieving the aspirations of Agenda 2063 we call for automation of production and digitisation of the Afrikan economy;
</p>
<p>
In accordance with aspiration #3 of the 2063 agenda we plan to use blockchain technology to establish Afrikan institutions that are Transparent, Democratic, Decentralised, Efficient and Secure;
</p>
<center>
<h1>
Article 3
</h1>
<h2>
Establishment
</h2>
</center>
<p>
New Age Liberty is hereby established in accordance with the
provisions of this Act.
</p>
<center>
<h1>
Article 4
</h1>
<h2>
Goals
</h2>
</center>
<p>
The Primary goal of The Organisation is called the 44 Year Goal
</p>
<center>
<h3>
The 44 Year Goal of The Organisation
</h3>
<p>
Achieve the 6 Aspirations of Afrika found in the Afrikan Union’s Agenda 2063 as well as the SDG’s in accordance with The Central Axiom;
</p>
</center>

<p>
The milestone goals leading to the achievement of the 44 Year Goal of The Organisation are:
</p>

<ol type = "a">
	<li>Growing of kiSwahili into a unifying language connecting all the people of Afrika and her diaspora;</li>
	<li>Establishment of the Afcoin, Afrika’s unifying digital currency;</li>
	<li>Establishment of the Afrikan People’s Bank by 2020, the Platinum Development Bank of Afrika by 2022 and the Gold Development Bank by 2025;</li>
	<li>Increase the quality of public schooling through the establishment the Afrikan School of Industry, to train the next generation to 	continue the development of the Afrikan economy and futher the goals of The Organisation;</li>
	<li>Unite the armies of Afrika into the Allied African Forces (AAF) through the establisment of a cross Afrikan military network, 	allowing the armies to securely co-ordinate in the protection of Afrika from imperialism and oppression;</li>
	<li>Organise the people into People’s Conferences and Popular Commitees in order that they may elect/impeach their representatives and directly participate in the governance of Afrika;</li>
	<li>Establish companies that will be the vehicle for addressing the needs in The Central Axiom, these companies shall operate under the policies outlined in the initial considerations;</li>
	<li>Ensure that all households in SADC have access to permeanant lighting by 2030;</li>
	<li>Approach Zimbabwe Central Bank on turning it into the Afrikan Central Bank managing the assets of Afrikan People’s Bank and 	Platinum Development Banks in co-operation with The Organisations Finance Council in accordance with this Act in order to achieve the 44 Year Goal of The Organisation;</li>
	<li>The Afrikan Central Bank shall be instrumental in reintergrating Zimbabwe into the global economy as well as creating a protected 	industry framework in AFTZ (then in the rest of Afrika) to protect Small and Medium Enterprises from Monopolies, protecting Afrika’s source of innovation and curbing the brain drain;</li>
	<li>Develop a pollution act to try all who pollute Afrika’s water, land and air, killing our local indigenous flora and fauna as well as reducing clean water supplies, arable agricultural land and lowering the air quality, poisoning our people;</li>
	<li>Reforestation of the Namib, Kalahari and Sahara deserts concerntrating the production of fruits, nuts, vegetables, medical 	herbs, fibers and woody plants in order to slow, stop and ultimately reverse desertification, strengthen food security in Afrika and 	strengthen our agriculture sector. This will require the establishment local nurseries to feed the needs of these Afrikan Megaproject(s);</li>
	<li>The production of Afrikan social media platforms meant to further Ubuntu, promote Afrikan intergration and increase direct physical social interaction between the people of Afrika, as opposed to social media that promotes individualism and anti-social behaviour;</li>
	<li>Create a comprehensive water plan to build a water grid that will allow movement of water from place of high abundance to those of low abundance, reducing and eventually eliminating the effects of drought.</li>
</ol>

<center>
<h1>
Article 5
</h1>
<h2>
Principles
</h2>
</center>

<ol type = "a">
	<li>Non-violence;</li>
	<li>Respect for democratic principles, human rights, the rule
of law and good governance;</li>
	<li>Ecological conservation;</li>
	<li>Respect for the sanctity of human life, condemnation and rejection of impunity and political assassination, acts of terrorism and 	subversive activities;</li>
	<li>Simplicity and minimalism;</li>
	<li>Condemnation and rejection of unconstitutional changes of governments;</li>
	<li>To each according to their need, from each according to their 	ability;</li>
	<li>Innovation driven (25% of profits must go to R&D)</li>
	<li>Diversity in discussion, unity in action;</li>
	<li>The behaviour you reward will florish;</li>
</ol>

<center>
<h1>
Article 6
</h1>
<h2>
Incentives = rewards
</h2>
</center>
<p>
In accordence with principle (j) we call for the creation of incentives that will reward the behaviour in our people that will lead us to achieving the Afrika We Want. Our incentives go as follows: 
</p>
<center>
<p>
Marraige incentive
</p>
<ol>
	<li>subsidise each marrying couple’s housing and transportation expenses;</li>
	<li>introduce a 1/(total_population) GDP cash incentive on obtaining their first child;</li>
	<li>introduce a 1/(total_population) GDP cash incentive on obtaining of their second child;</li>
</ol>
<p>
Green electricity generation, transmission and
Subsidising households with the aquisition of solar panels, wind turbines, geothermal heat pumps, hydroturbines and tesla turbines as well as their installation, thus turning their homes into micro-power plants that they may satisfy their energy needs and supply industry with the excess;
</p>
<p>
Renewable energy, Blockchain and AI research shall be funded in order to better our infrastructural capabiliies, including research into recycling technologies and other technologies associated with The Central Axiom;
</p>
<p>
Incentivise recycling such that the people may participate in the cleaning of our beautiful land, streams and oceans. Reducing and eventually eliminating land fills and unintentional plastic islands in our oceans;
</p>
<p>
Incentivise the use of public transport and vehicle sharing platforms through subsidies;
</p>
<p>
Incentivise the eating of locally produced organic fruits, vegetables and herbs through subsidies;
</p>
</center>

<center>
<h1>
Article 7
</h1>
<h2>
Organs of New Age Liberty
</h2>
</center>

<ol>
	<li>The organs of The Organisation shall be:</li>
	<ol type = "a">
		<li>Director’s Council</li>
		<li>Finance Council</li>
		<li>Cultural Council</li>
		<li>Brain Trust</li>
		<li>Defence Council</li>
		<li>Integrity Council</li>
		<li>Secretary Council</li>
	</ol>
	<li>Other organs that The Organisation may decide to establish</li>
</ol>

<center>
<h1>
Article 8
</h1>
<h2>
Director’s Council
</h2>
</center>

<ol>
	<li>This council shall be filled by the organisation’s directors.</li>
	<li>This council shall be responsible for the overhead policy and regulation of the organisation</li>
	<li>This council shall meet at least once a year in ordinary session. At the request of the chairperson and on approval by a two-thirds majority of the council members, this council shall meet in extraordinary session.</li>
	<li>The office chairperson of this council shall be held for a period of one year by a director elected after consultations with all councils and public</li>
</ol>

<center>
<h1>
Article 9
</h1>
<h2>
Decisions of Director’s Council
</h2>
</center>

<ol>
	<li>This council shall take its decisions by consensus or, failing which, by a two-thirds majority of the council members. However, procedural matters, including the question of whether a matter is one of procedure or not, shall be decided by a simple majority.</li>
	<li>Two-thirds of the total membership of this council shall form a quorum at any meeting of this council.</li>
</ol>

<center>
<h1>
Article 10
</h1>
<h2>
Rules and Procedures of Director’s Council
</h2>
</center>

<p>
This council shall adopt its own Rules of Procedure.
</p>

<center>
<h1>
Article 11
</h1>
<h2>
Powers and Function of Director’s Council
</h2>
</center>

<ol>
	<li>The powers and functions of this council are to:</li>
	<ol type = "a">
		<li>Make overhead policy (these policies apply to the whole organisation, with some exceptions made for the integrity council by the security council, if a policy will hinder the integrity council from performing it’s function(s)).</li>
		<li>Monitor the implementation of policies and decisions of the organisation as well ensure compliance by all organs and members of the organisationl</li>
		<li>Receive, consider and take decisions on reports and recommendations from the other organs of the organisation;l</li>
		<li>Sign off on any proposed policy (this council can be over-ruled by a direct mojority vote)</li>
		<li>Consult with civil society in order to make sure the organisation represents the peoplel</li>
		<li>Lead defence unit</li>
		<li>Establish any additional organs of the organisation</li>
	</ol>
	<li>This council may delegate any of it’s non-restricted functions to another organ of The Organisation if that organ is better suited to carry out that function.</li>
</ol>

<center>
<h1>
Article 12
</h1>
<h2>
Finance Council
</h2>
</center>

<ol>
	<li>This council shall be filled by the organisation’s finance officers and finance director.</li>
	<li>This council shall meet at least once a year in ordinary session. At the request of the chairperson and on approval by a two-thirds majority of the council members, this council shall meet in extraordinary session.</li>
	<li>The office chairperson of this council shall be held for a period of one year by a finance officer elected after consultations with all councils and public</li>
</ol>

<center>
<h1>
Article 13
</h1>
<h2>
Decisions of Finance Council
</h2>
</center>

<ol>
	<li>This council shall take its decisions by consensus or, failing which, by a two-thirds majority of the council members. However, procedural matters, including the question of whether a matter is one of procedure or not, shall be decided by a simple majority.</li>
	<li>Two-thirds of the total membership of this council shall form a quorum at any meeting of this council.</li>
</ol>

<center>
<h1>
Article 14
</h1>
<h2>
Rules and Procedures of Finance Council
</h2>
</center>

<p>
This council shall adopt its own Rules of Procedure.
</p>

<center>
<h1>
Article 15
</h1>
<h2>
Powers and Function of Finance Council
</h2>
</center>

<ol>
	<li>The powers and functions of this council are to:</li>
	<ol type = "a">
		<li>Create financial policy (in conjunction with Director’s Council)</li>
		<li>Monitor the implementation of financial policies and decisions of the organisation as well ensure compliance by all organs and members of the organisation</li>
		<li>Audit The Organisations books and control the Unity Trust</li>
		<li>Organise The Organisation’s budget</li>
		<li>Set up resource trusts</li>
	</ol>
	<li>This council may delegate any of it’s non-restricted functions to another organ of The Organisation if that organ is better suited to carry out that function.</li>
</ol>

<center>
<h1>
Article 16
</h1>
<h2>
Cultural Council
</h2>
</center>

<ol>
	<li>This council shall be filled by the organisation’s cultural officers and cultural director.</li>
	<li>This council shall meet at least once a year in ordinary session. At the request of the chairperson and on approval by a two-thirds majority of the council members, this council shall meet in extraordinary session.</li>
	<li>The office chairperson of this council shall be held for a period of one year by a finance officer elected after consultations with all councils and public</li>
</ol>

<center>
<h1>
Article 17
</h1>
<h2>
Decisions of Cultural Council
</h2>
</center>

<ol>
	<li>This council shall take its decisions by consensus or, failing which, by a two-thirds majority of the council members. However, procedural matters, including the question of whether a matter is one of procedure or not, shall be decided by a simple majority.</li>
	<li>Two-thirds of the total membership of this council shall form a quorum at any meeting of this council.</li>
</ol>

<center>
<h1>
Article 18
</h1>
<h2>
Rules and Procedures of Cultural Council
</h2>
</center>

<p>
This council shall adopt its own Rules of Procedure.
</p>

<center>
<h1>
Article 19
</h1>
<h2>
Powers and Function of Cultural Council
</h2>
</center>

<ol>
	<li>The powers and functions of this council are to:</li>
	<ol type = "a">
		<li>Do research into the effects of culture on our society</li>
		<li>Organise programmes to promote and educate youth on our cultural heritage an IKS</li>
		<li>Develop indegieonous knowledge to be used for more organisational operation and according policy</li>
		<li>Promote and spread Ubuntu worldwide</li>
		<li>Co-operate with Integrity council on Ubuntu Jurisprudence</li>
	</ol>
	<li>This council may delegate any of it’s non-restricted functions to another organ of The Organisation if that organ is better suited to carry out that function.</li>
</ol>

<center>
<h1>
Article 20
</h1>
<h2>
Brain Trust
</h2>
</center>

<ol>
	<li>This organ is made up of 4 units. Systems Intelligence, BTMedia, BTInstitute and the BTIndustry each unit has 3 subunits, namely the developer unit, mentainance unit and the tester unit, each with it’s own functions.</li>
	<li>Each unit is headed by a director.</li>
	<li>The office of director this organ shall be held for a period of three years by a capable member elected after consultations with all councils and the public.</li>
</ol>

<center>
<h1>
Article 21
</h1>
<h2>
Decisions of the Brain Trust
</h2>
</center>

<ol>
	<li>This council shall take its decisions by consensus or, failing which, by a two-thirds majority of the council members. However, procedural matters, including the question of whether a matter is one of procedure or not, shall be decided by a simple majority.</li>
	<li>Two-thirds of the total membership of this council shall form a quorum at any meeting of this council.</li>
</ol>

<center>
<h1>
Article 22
</h1>
<h2>
Rules and Procedures of the Brain Trust
</h2>
</center>

<p>
This organ shall adopt its own Rules of Procedure.
</p>

<center>
<h1>
Article 23
</h1>
<h2>
Powers and Function of the Brain Trust
</h2>
</center>
<p>
The Brain Trust’s function in The Organisation is to be the powerhouse, supplying ideas, education and training, publication, products and systems viable for use in the 4th industrial revolution. It operates though it’s 4 units, which have the following functions:
</p>
<ol>
	<li>Systems Intelligence:</li>
	<ol type = "a">
		<li>Development of systems that will allow the organisation to be effective, efficient and competitive in the 4th industrial revolution.</li>
		<li>Development of systems to advance the SDGs in Afrika.</li>
		<center>
		<br></br>
		<p>The subunits of this unit will have the following functions:</p>
		<p>developer unit</p>
		<ul>
			<li>Researches & develops new technology to better the lives of our people</li>
			<li>Works on proof of concepts and prototyping</li>
`		</ul>

		<p>mentainance unit</p>
		<ul>
			<li>Mentains and runs systems created by developer unit</li>
`		</ul>
		<p>tester unit</p>

		<ul>
			<li>Works to find weaknesses in our systems and patches them</li>
			<li>Providing feedback to developer unit on possible improvements of our systems</li>
`		</ul>
		</center>
	</ol>

	<li>BTMedia</li>
	<ol type = "a">
		<li>Publishing of media to promote Ubuntu in Afrika and rest of the global village.</li>
		<li>Publishing media to spread our ideas and policies throughout Afrika and the global village.</li>
		<li>ublishing of media to groom the next generation of social entrepreneurs who will continue the struggle to make all the SDGs a reality.</li>
		<center>
		<br></br>
		<p>The subunits of this unit will have the following functions:</p>
		<p>developer unit</p>
		<ul>
			<li>Researches & develops new home grown media platforms for local use</li>
			<li>Works on producing media that will be pulished on local and international media patforms</li>
`		</ul>

		<p>mentainance unit</p>
		<ul>
			<li>Mentains website and home grown media platforms</li>
			<li>Publishes media on all the platforms the organisation uses</li>
			<li>Regulates media platforms such that they remain safe, free and conducive to a democratic environment</li>
`		</ul>
		<p>tester unit</p>

		<ul>
			<li>Works to find weaknesses in our systems and patches them</li>
			<li>Providing feedback to developer unit on possible improvements of our media platforms</li>
`		</ul>
		</center>
	</ol>

	<li>BTInstitute</li>
	<ol type = "a">
		<li>Educate and train the next generation of Afrika’s leaders and engineers</li>
		<li>Educate and train the producers of the organisation’s industial sector</li>
		<li>Disseminate all organisational documents</li>
		<li>Instruct all members of the organisation in Ubuntu philosophy</li>
		<li>Educate and inform civil society on individual rights</li>
		<li>Begin the reform of Afrika’s education system under the banner of “Indigeonise to modernise”</li>
		<center>
		<br></br>
		<p>The subunits of this unit will have the following functions:</p>
		<p>developer unit</p>
		<ul>
			<li>Researches, develops new technology educational technology to improve learning and training as well as reform Afrika’s education systems</li>
			<li>Works on proof of concepts and prototyping</li>
`		</ul>

		<p>mentainance unit</p>
		<ul>
			<li>Mentains educational technology and publishing of educational content on these technologies</li>
`		</ul>
		<p>tester unit</p>

		<ul>
			<li>Works to find weaknesses in our systems and patches them</li>
			<li>roviding feedback to developer unit on possible improvements of our educatonal technologiess</li>
`		</ul>
		</center>
	</ol>

	<li>BTIndustry</li>
	<ol type = "a">
		<li>Start and manage companies that will operate under the Central Axiom of Freedom</li>
		<center>
		<br></br>
		<p>The subunits of this unit will have the following functions:</p>
		<p>developer unit</p>
		<ul>
			<li>Researches, develops new technology in line with the Central Axiom of Freedom</li>
			<li>Works on proof of concepts and prototyping these technologies</li>
`		</ul>

		<p>mentainance unit</p>
		<ul>
			<li>Mentains and runs the companies that are formed according to the provisions of the Central Axiom of Freedom</li>
			<li>Fixes broken products and mentains all infrastructure created by the BTIndustry unit</li>
`		</ul>
		<p>tester unit</p>

		<ul>
			<li>Works to ensure that all products of BTIndustry are of high quality</li>
			<li>Test all products to the limit to determine the guarentee periods of each product</li>
`		</ul>
		</center>
	</ol>
</ol>

<center>
<h1>
Article 24
</h1>
<h2>
Defence Council
</h2>
</center>

<ol>
	<li>This council shall be filled by The Organisation’s defence officers and defence director.</li>
	<li>This council shall meet at least once a year in ordinary session. At the request of the chairperson and on approval by a two-thirds majority of the council members, this council shall meet in extraordinary session.</li>
	<li>The office chairperson of this council shall be held for a period of one year by a defence officer elected after consultations with all councils and public</li>
</ol>

<center>
<h1>
Article 25
</h1>
<h2>
Decisions of Defence Council
</h2>
</center>

<ol>
	<li>This council shall take its decisions by consensus or, failing which, by a two-thirds majority of the council members. However, procedural matters, including the question of whether a matter is one of procedure or not, shall be decided by a simple majority.</li>
	<li>Two-thirds of the total membership of this council shall form a quorum at any meeting of this council.</li>
</ol>

<center>
<h1>
Article 26
</h1>
<h2>
Rules and Procedures of Defence Council
</h2>
</center>

<p>
This council shall adopt its own Rules of Procedure.
</p>

<center>
<h1>
Article 27
</h1>
<h2>
Powers and Function of Defence Council
</h2>
</center>

<ol>
	<li>The powers and functions of this council are to:</li>
	<ol type = "a">
		<li>To work with the director’s to ensure the safety of all memebers and organisational assets.</li>
		<li>To work with the integrity council to root out the 10 risks facing the organisation</li>
	</ol>
	<li>This council may delegate any of it’s non-restricted functions to another organ of The Organisation if that organ is better suited to carry out that function.</li>
</ol>

<center>
<h1>
Article 28
</h1>
<h2>
Integrity Council
</h2>
</center>

<ol>
	<li>This council shall be filled by The Organisation’s integrity officers and chosen delegates from defence council.</li>
	<li>It will operate independantely of the director’s council.</li>
	<li>his council shall meet at least once a year in ordinary session. At the request of the chairperson and on approval by a two-thirds majority of the council members, this council shall meet in extraordinary session.</li>
	<li>The office chairperson of this council shall be held for a period of one year by a integrity officer elected after consultations with all councils and public</li>
</ol>

<center>
<h1>
Article 29
</h1>
<h2>
Decisions of Integrity Council
</h2>
</center>

<ol>
	<li>This council shall take its decisions by consensus or, failing which, by a two-thirds majority of the council members. However, procedural matters, including the question of whether a matter is one of procedure or not, shall be decided by a simple majority.</li>
	<li>Two-thirds of the total membership of this council shall form a quorum at any meeting of this council.</li>
</ol>

<center>
<h1>
Article 30
</h1>
<h2>
Rules and Procedures of Integrity Council
</h2>
</center>

<p>
This council shall adopt its own Rules of Procedure.
</p>

<center>
<h1>
Article 31
</h1>
<h2>
Powers and Function of Integrity Council
</h2>
</center>

<ol>
	<li>The powers and functions of this council are to:</li>
	<ol type = "a">
		<li>Estabish the People’s Court.</li>
		<li>Set up an impartial tribune for every case</li>
		<li>Work with the anti-corruption unit to root out the 10 risks facing the organisation</li>
		<li>Deploy anti-corruption unit to investigate and bring in suspects for trial</li>
		<li>Reverse unconstitutional policy</li>
		<li>Act independantely of Director’s council</li>
		<li>Audit the books of all organs as well as co-ordinate with independant auditors</li>
		<li>Uphold the constitution and all the values The Organisation stands fore</li>
	</ol>
	<li>This council may delegate any of it’s non-restricted functions to another organ of The Organisation if that organ is better suited to carry out that function.</li>
</ol>

<center>
<h1>
Article 32
</h1>
<h2>
Secretary Council
</h2>
</center>

<ol>
	<li>This council shall be filled by the organisation’s secretaries and director of communications.</li>
	<li>It will operate independantely of the director’s council.</li>
	<li>This council shall meet at least once a year in ordinary session. At the request of the chairperson and on approval by a two-thirds majority of the council members, this council shall meet in extraordinary session.</li>
	<li>The office chairperson of this council shall be held for a period of one year by secretary elected after consultations with all councils and public</li>
</ol>

<center>
<h1>
Article 33
</h1>
<h2>
Decisions of Secretary Council
</h2>
</center>

<ol>
	<li>This council shall take its decisions by consensus or, failing which, by a two-thirds majority of the council members. However, procedural matters, including the question of whether a matter is one of procedure or not, shall be decided by a simple majority.</li>
	<li>Two-thirds of the total membership of this council shall form a quorum at any meeting of this council.</li>
</ol>

<center>
<h1>
Article 34
</h1>
<h2>
Rules and Procedures of Secretary Council
</h2>
</center>

<p>
This council shall adopt its own Rules of Procedure.
</p>

<center>
<h1>
Article 35
</h1>
<h2>
Powers and Function of Secretary Council
</h2>
</center>

<ol>
	<li>The powers and functions of this council are to:</li>
	<ol type = "a">
		<li>Organise the national assembly held every year on the 8 April</li>
		<li>Organise inter-council meetings (eg. Integrity council and Cultural council)</li>
	</ol>
	<li>This council may delegate any of it’s non-restricted functions to another organ of The Organisation if that organ is better suited to carry out that function.</li>
</ol>

<center>
<h1>
Article 36
</h1>
<h2>
10 risks facing The Organisation
</h2>
</center>
<p>
In order to make sure our organisation is successful at achieving the 6 Aspirations of Afrika we must be careful of the 3 Parasites of Ubuntu, the 4 Parasites of Institutions and the 3 Qualities of a Parasitic Leader.
</p>

<center>
<p>The 3 Parasites of Ubuntu</p>
<ol type = 'a'>
	<li>Rampant individualism</li>
	<li>Insensitive competitiveness</li>
	<li>and Unilateral decision making</li>
</ol>
</center>
<br></br>
<center>
<p>The 4 Parasites of Institutions</p>
<ol type = 'a'>
	<li>Inertia</li>
	<li>Incompetence</li>
	<li>being divorced from the people</li>
	<li>and corruption</li>
</ol>
</center>
<br></br>
<center>
<p>The 3 Qualities of Parasitic Leadership</p>
<p>A parasitic leader eats away at the integrity of an institution by exercising:</p>
<ol type = 'a'>
	<li>Excessive beaurocracy</li>
	<li>Self-indulgence,</li>
	<li>and Extravagence</li>
</ol>
</center>

<center>
<h1>
Article 37
</h1>
<h2>
Restrictions/Taboos/Duties
</h2>
</center>
<p>
When operating in the capacity of The Organisation a member must refrain from talking about politics or religion.
</p>
<p>
The Organisation shall not be allowed to take loans or foreign aid, it must depend on the people it serves, thus no member or group of members may accept a loan or foreign aid on behalf of The Organisation;
</p>
<p>
All members participating in the public service sector of The Organisation shall recieve minimum wage (in accordance with the laws of the country the person operates in) , if no minimum wage is set in the person’s country of operation the wages shall be R3 500.
</p>
<p>
All members are forbidden to use of personal chauffeurs and first class airline tickets.
</p>
<p>
If a member holds a position in both the profit making and public service sector of The Organisation, that member must forfit the wages and benefits that are associated with one position.
</p>
<p>
Well-off civil servants must pay one month's salary to public projects.
</p>
<p>
All members must complete 4 hours a week of community cleanup duty. 
</p>
<p>
High ranking officials, level orange going up may not own cars as long as they hold that rank (transportation shall be provided for all these members).
</p>

<center>
<h1>
Article 38
</h1>
<h2>
Sustainable development goals
</h2>
</center>

<center>
<img src="{% static 'Home/image/SGD.png'%}">
</center>
</div>
{% endblock %}
