{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
    {% load staticfiles %}
    {% include "Home/includes/active_sgds.html" %}
      </header>

      <main role="main" class="inner cover">

<br></br>

{% include "Home/includes/CAF.html" %}

<br></br>

<p>The central axiom of freedom is our primary principle of operation. We are committed to making each of the basic needs available to each person in Afrika and the rest of the world.</p>

<br></br>

{% include "Home/proverb/p13.html" %}

{% endblock %}
