{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
    {% load staticfiles %}
    {% include "Home/includes/active_sgds.html" %}
      </header>

      <main role="main" class="inner cover">

<br></br>

<p>
We imagine that the city of the future will incoprorate solar passive design into it's infrastructure, reducing the need for heating as the sun will act as a natural heater. The sewage from each building will be proccessed locally to produce clean water that can be reused once more, creating a circular flow of water allowing it to be used again and again. 
</p>

{% include "Home/proverb/p119.html" %}

{% endblock %}
