{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
    {% load staticfiles %}
    {% include "Home/includes/active_sgds.html" %}
      </header>

      <main role="main" class="inner cover">

<br></br>

<p>
We imagine cities where commercial advertising is non-existent. Where products are not split into brands that compete on the market. A person will be able to complile a grocery list of all the items they need and the items shall be delivered to the person for their personal use.
</p>

<br></br>

{% include "Home/proverb/p123.html" %}

{% endblock %}
