{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
    {% load staticfiles %}
    {% include "Home/includes/active_sgds.html" %}
      </header>

      <main role="main" class="inner cover">

<br></br>

<p>
Through the use of blockchain technology The Brain Trust is building an institution that is transparent, democratic, decentralised and efficent. We pride ourselves on good governance and a high quality of products.
</p>

<br></br>

<div class="container">
  <div class="row">
    <div class="col">
      Brain Trust Units
    </div>
  </div>

  <div class="row">
    <div class="col">
      Systems Intelligence
    </div>
    <div class="col">
      BTMedia
    </div>
    <div class="col">
      BTInstitute
    </div>
    <div class="col">
      BTIndustry
    </div>
  </div>
</div>

<br></br>

{% include "Home/proverb/p132.html" %}

{% endblock %}
