{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
    {% load staticfiles %}
    {% include "Home/includes/active_sgds.html" %}
      </header>

      <main role="main" class="inner cover">

<br></br>

<p>The revolution and women's liberation go together. We do not talk of women's emancipation as an act of charity or because of a surge of human compassion. It is a basic necessity for the triumph of the revolution. Women hold up the other half of the sky.</p>
<div align=right>~ Thomas Sankara</div>

<br></br>

<p>
The first pillar of woman empowerment is education. If you are a woman looking to end the exploitation of woman, read <a href="{% static 'Home/pdfs/gaddafi-green-book.pdf' %}" style="color:Tomato;">The Green Book</a>. Here you will gain insite on our feminist policy and gain vital knowledge that will prevent you from being exploited in the future. For more knowledge read our blog on <a href="../../blog/10" style="color:Tomato;">black consciousness</a> as it is a vital concept for achieving the goal of gender equality.
</p>

<p>
Women will play the biggest part leading Afrika through the 4th Industrial Revolution. It is written that "knowledge is power" so to our girls and women we say: "Seize your power, it is yours if you want it."
</p>

<br></br>

{% include "Home/proverb/p55.html" %}

{% endblock %}
