<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <style type = "text/css">
       body {
             background-image: url("{% static 'Home/image/gl.png' %}");
	     background-repeat: no-repeat;
             background-position: center
       }
    </style>
<!--
    <meta name="description" content="">
    <meta name="author" content="">
-->
    <link rel="icon" href="{% static 'Home/image/af.png' %}">

    <title>New Age Liberty</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'Home/css/bootstrap.min.css' %}" type = "text/css"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'Home/css/cover.css' %}" rel="stylesheet">

  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

	{% block content %}
	{% endblock %}

      </main>

<!--<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
-->
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p><a href="https://www.youtube.com/channel/UCniKdGvSLKZwDl4hsxdRFxQ" target="blank">Youtube</a> | <a href="https://www.patreon.com/nalbt?alert=2" target="blank">Patreon</a></p>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
