{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
    {% load staticfiles %}

    {% include "Home/includes/active_home.html" %}

      </header>

      <main role="main" class="inner cover">



	<h1 class="cover-heading">The Brain Trust</h1> 
	<p>The Brain Trust is an organ of New Age Liberty, an informal non-profit NGO created to achieve the goal of afrikan unity through ubuntu, technology and innovation</p>

<center>
        <img src="{% static 'Home/image/ioi.png' %}" width="140" height="140" background="#777" color="#777" class="rounded-circle">
</center>

{% include "Home/includes/QOTD.html" %}
<br></br>
<p>Through our partnerships we are building <strong>The Afrika We Want</strong>. To realise our goal we need your help.</p>
<p><a class="btn btn-primary btn-lg btn-block" href="init" role="button">Learn more.</a></p>



{% endblock %}
