{% extends "Home/header.html" %}
{% block content %}

{% load staticfiles %}
<center>
<img src="{% static 'Home/image/seal.png' %}" width="140" height="140" >
</center>

<p>
SADC, SADC DAWN OF OUR CERTAINTY<br>
SADC, SADC DAWN OF A BETTER FUTURE<br>
AND HOPE FOR REGIONAL AND UNIVERSAL INTERGRATION<br>
TOWARDS OUR PEOPLES UNITY AND HARMONY
</p>
<p>
CRADLE OF HUMANITY<br>
CRADLE OF OUR ANCESTORS<br>
LET US PRAISE WITH JOY, THE REALISATION OF OUR HOPES<br>
AND RAISE THE BANNER OF SOLIDARITY
</p>

<center>
<img src="{% static 'Home/image/flag.png' %}" width="140" height="100">
</center>
{% endblock %}
