<center>
<h3>
The Central Axiom of Freedom
</h3>
<p>
basic needs: water, food, housing, transportation, education, internet(telecommunications), renewable electricity.
</p>
<p>
In order to achieve the 6 aspirations of Afrika, to create The Afrika We Want we must create a society
which is happy because it is free. This can only be achieved by
satisfying man’s material and spiritual needs, and that, in turn,
comes about through the liberation of these needs from the control of others
</p>
<div align = "right">
-adapted from Qaddafi’s The Green Book;
</div>
</center>
