<center>
<h3>
Natural Rule of Equality
</h3>
<p>
“If we analyse the factors of economic production from ancient
times to the present, we always find that they essentially consist
of certain basic production components, i.e., raw materials,
means of production, and a producer. The natural rule of equality
requires that each of these components receives a share of
this production. Because production cannot be achieved without
the essential role of each of these components, it has to
be equally divided amongst them. The preponderance of one
of them contravenes the natural rule of equality and becomes
an encroachment upon the others’ rights. Thus, each must be
awarded an equal share, regardless of the number of components
in the process of production. If the components are two,
each receives half of the production; if three, then one-third.”
</p>
<div align = "right">
					-Muammar al-Qaddafi;
</div>
</center>
