{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
    {% load staticfiles %}
    {% include "Home/includes/active_bt.html" %}
<br></br>
    {% include "Home/includes/active2_bt.html" %}

    {% include "Home/includes/active3_central.html" %}
      </header>

      <main role="main" class="inner cover">

<body>

<iframe src="http://docs.google.com/gview?url=http://www.stlawu.edu/gallery/education/f/09textiles/adinkra_symbols.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>

</body>

{% endblock %}
